$primary-cyan: hsl(179, 62%, 33%);
$primary-cyan-2: hsl(179, 62%, 40%);
$primary-yellow: hsl(71, 73%, 54%);
$neutral-gray: hsl(204, 43%, 93%);
$neutral-blue: hsl(218, 22%, 67%);
$normal-text: 1rem;
$light: 400;
$bold: 700;
$color-primary: hsla(0, 100%, 100%, .7);
$color-muted: hsla(0, 100%, 100%, .3);
$color-secondary: hsla(0, 0%, 20%, .5);
$big-text: 3rem; 
$shadow: hsla(0, 0%, 0%, .2);